<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta name="description" content="None">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!--Bootstrap Scripts-->
    <!-- JavaScript Bundle with Popper -->
    <section id="ikmq" class="container-fluid">
        <nav id="ikbj" class="navbar navbar-expand-lg navbar-light bg-light hero-plain-navbar no-bg fixed-top">
            <div id="i7rf" class="container"><a href="#" class="navbar-brand"><span id="i1smt" class="font-weight-bold ml-1 pt-3"><b></b></span></a><button type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span
                        class="navbar-toggler-icon"> </span></button>
                        
                <div id="navbarResponsive" class="collapse navbar-collapse">
                    <ul id="iw16r" class="navbar-nav ms-auto">
                        <li id="ix6dt" class="nav-item active"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item me-md-2"></li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </section>
    <section id="i2a5" class="py-5">
        <div id="ipwbs" class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin-simple flex-row my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center" id="ihszk">Login</h5>
                            <form method="POST" action="/login" class="form-signin-simple">
						User Name :  <input type="text" name="username" placeholder="Username" required autofocus class="form-control"/><br><br>
							 
                                
						Password  :	  <input type="password" name="password" placeholder="Password" required class="form-control"/><br><br>
							
                               
							<input type="submit" value="Login"/>
							
							</form>
							</center>
					     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>

</html>